.location-container {
  background-color: #BBBBBB ;
  margin: 0;
}

.location {
  text-align: center;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.location-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.5rem;
}