.kitchen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kitchen {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.location-img {
  width: 5em;
}

.location-link:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all .5s;
  opacity: .8;
}