.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 1rem;
  margin: 1.5rem;
}

.nav-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}