.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid .25rem;
  background: -webkit-linear-gradient(#B88458, #FFFFF9);
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all .5s;
  opacity: .8;
}

.nav-button {
  width: 4rem;
}

.nav-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}

.title {
  padding: 1rem;
}

.app-logo {
  width: 14rem;
  border-radius: 30% ;
  padding-top: 1rem;
}

.overview-button {
  width: 10rem;
  margin: .5rem;
}