@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Limelight&family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* section,
article,
div {
  border: dashed;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
